/* LOGO */
#logoindex {
    width: 200px;
    height: 200px;
}

#logo1 , #logo2 , #logo3, #logo4 , #logo5 , #logo6 {
    width: 100px;
    height: 100px;
}


/* TIPOGRAFÍA */

@font-face {
    font-family: "FiraSans-BoldItalic" ;
    src: url("../Fonts/FiraSans-BoldItalic.otf");
}

@font-face {
    font-family: "Quicksand-Regular";
    src: url("../Fonts/Quicksand-Regular.otf");
}

.FiraSans {
     font-family: "FiraSans-BoldItalic", cursive;
     font-size: 100px;
}

.Quicksand {
    font-family: "Quicksand-Regular", regular;
    font-size: 50px;
}

h1 {
    font-family: FiraSans-BoldItalic ;
    font-size: 70px;
    color:white;
    text-align: center;
    margin-top: 50px;
}

#datosform {
    font-family: FiraSans-BoldItalic ;
    font-size: 30px;
    color:white;
}

img {
    text-align: center
}

#fotodelos3 {
    width: 600px;
    height: 400px;
    
}

p {
    font-family: "Quicksand-Regular" ;
    font-size: 26px;
    text-align: justify;
    text-decoration: none;
    color: white;

}

a {
    font-family: "Quicksand-Regular" ;
    font-size: 20px;
    text-align: justify;
    text-decoration: none;
    color: white;
}

.containerflex {
    display: flex center;
    flex-direction: row;
    justify-content: center;
}


#grid-container div img {
    display: grid;
    grid-template-areas: 
    "lkfotoportada lkfotoportada"
    "lkfotoportada1 lkfotoportada2";
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    width: 100%;
    column-gap: 10px;
    row-gap: 10px;
}

body {
    background-color: black;
}

.pablo {
    width: 100px;
    height: 80px;
}

.nelson {
    width: 100px;
    height: 100px;
}

.diego {
    width: 100px;
    height: 80px;
}

/* FOOTER */
#Instagram {
    width: 50px;
    height: 50px;
   
}
#Youtube {
    width: 50px;
    height: 50px;
    
}

#logoig , #logoy {
    width: 50px;
    height: 50px;
}

/* VISTA DESKTOP */
.gridContainer {
    display: grid;
    grid-template-areas:
        "header header"
        "navIzq navDer"
        "parrafo parrafo"
        "img img"
        "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px auto 1fr 100px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

div.navIzq {
    grid-area: navIzq;
}

div.navDer {
    grid-area: navDer;
}

.navIzq ul,
.navDer ul {
    display: flex;
    justify-content: space-around;
}

li {
    padding: 10px;
    list-style-type: none;
}

div.navDer {
    grid-area: navDer;
}

@media only screen and (min-width: 768px) {
    .gridContainer {
        display: grid;
        grid-template-areas:
            "navIzq navIzq header header navDer navDer"
            "parrafo parrafo parrafo img img img";
        grid-template-columns: repeat(6, 16.6%);
        grid-template-rows: 100px auto 200px;
    }

    header {
        text-align: center;
    }

    li {
        position: relative;
        top: 20px;
    }
}